/*
 * This adds some component styles specifically for the Styleguide
 * --------------------------------
 */

.styleguide {
  /* Icons --------------- */

  [data-name="icons"] {
    .icon-gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
      gap: 0.5em 1em;
    }

    .icon {
      position: relative;
      padding: 0.5em 0 0.5em calc(var(--ui-icon-size) + var(--ui-icon-spacing));
      color: var(--text-color-subtle);
      &:before {
        position: absolute;
        left: 0;
        color: var(--text-color-highlight);
        text-align: center;
      }
      &:hover {
        color: var(--text-color-highlight);
        &:before {
          color: var(--text-color-highlight);
        }
      }
    }
  }

  /* Inputs + controls --------------- */

  .input-search,
  .input-textarea,
  .input-textarea + .input-text,
  .input-text + .input-text {
    margin-top: var(--ui-spacing);
  }

  .input-label {
    display: block;
    width: max-content;
    margin: 0 1em 1em 0;
  }

  .input-color,
  .input-number,
  .input-select {
    margin: 0 var(--ui-spacing) 0 0 !important;
  }

  /* Category colors --------------- */

  .ui-site-1,
  .ui-site-2,
  .ui-site-3,
  .ui-site-4,
  .ui-site-5 {
    height: 10px;
    width: 100px;
  }

  /* Modals --------------- */

  lumine-panel.modal {
    /* Keep modal examples inside their preview. */
    position: relative;
    max-width: 100%;
    left: 0;
    margin: 0;
  }

  /* Misc --------------- */

  .popover-list {
    position: relative;
  }

  [data-name="error-messages"] .example-rendered {
    min-height: 60px; /* don't cut off centered messages */
  }
}
